body {
    height: 90vh;
    
}
header {
    display: flex;
    background: #AFD275;
    justify-content: space-between;
    font-size: 2.1rem;
    align-items: center;
    height: 120px;
    
}

.menu a{
     padding: 30px;
       

}

header img {
    height: 150px;
    padding: 30px;
    
}

.up0 {
    background: #E47E1B;
    padding: 60px;
}
.up {
    
    display: flex;
    justify-content: space-between;
    
}

.up img  {
    height: 400px;
    
}

.history {
    font-size: 2.4rem;
    text-align: center;
    
}
.history h1 {
    color: white;
}
.history span{
    font-size: 3.1rem;
    color: ivory;
}
.middle img{
    width: 90vw;
    height: 80vh;
}

.end h2 {
    font-size: 2.7rem;
    color: white;
    text-align: center;
}
.services {
    display: flex;
    justify-content: space-between;
}

.services img {
    width: 400px;
}

.transport p{
    text-align: center;
    font-size: 2.0rem;
}

.customerService p{
    text-align: center;
    font-size: 2.0rem;
}

.produce p{
    text-align: center;
    font-size: 2.0rem;
}

footer {
    background: #AFD275;
    
}

.foot0 {
    display: flex;
    justify-content: space-between;
   
    padding-right: 30px;
}
.foot {
    display: block;
    justify-content: space-between;
}

.foot > ul > li{
    list-style: none;
    padding: 5px;
    font-weight: 900;
}
.menu {

    justify-content: space-around;
    padding-top: 50px;
}

#log {
    height: 160px;
}

footer p{
    text-align: center;
    font-size: 2.1rem;
}

.socialSites img{
    height: 100px;
    align-items: baseline;
}