*{
  margin: 0;
  padding: 0;
  font-family: 'Scheherazade New', serif;
  box-sizing: border-box;
}
header{
  background-color:#AFD275 ;
  height: 170px;
}
nav img{
  height: 150px;
  margin-bottom: 200px;
  margin-left: 0px;


}
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
  
}
nav li {
  display: inline-block;
  list-style: none;
  padding-right: 100px;
  padding-left: 100px;
  font-size: larger;
 }
 li a {
   color:#191970;
   text-decoration: none;
}
.mybody{
  background-color: #E47E1B;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
#text{
  text-align: center;
  width: 220px;
  font-weight: 600;
  font-size: larger;
  margin-left: 100px;
  padding-top: 70px;
  color: white;
  
}

#main{
  height: 500px;
  width: 1000px;
  align-items: center;
  background-image: url("https://cdn.pixabay.com/photo/2018/06/10/17/39/market-3466906_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
#rectangle{
  height: 50px;
  width: 500px;
  background-color: grey;
  opacity: 0.8;
  border-radius: 30px;
  margin-left: 200px;
}
 
#rectangle p{
  text-align: center;
  color: #191970;
  font-weight: 800;
  font-size: xx-large;
}
#rectangle2 {
  height: 50px;
  width: 300px;
  background-color:#e47e1b;
  border-radius: 30px;
  margin-left: 200px;
  align-items: center;
}
#rectangle2 p{
  color: white;
  text-align: center;
  padding-bottom: 5px;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#rectangle2 a {
  text-decoration: none;
  color: white;
} 
.icons{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.icons img {
  height: 50px;
}
footer {
display: flex;
justify-content: space-between;
height: 320px;
background-color:#AFD275 ;
}
.first img{
  height: 150px;
}
.first {
  font-weight: 900;
  font-size: larger;
}
.icons{
  margin-left: 200px;
  margin-top: 200px;
  color: #191970;
  font-weight: 600;

}
.icons p{
  text-align: inherit;
}